FraudValidator-war/web/WEB-INF/wsdl/localhost_31906/NewWebService/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.web.fraudvalidation.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.web.fraudvalidation.org/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.web.fraudvalidation.org/" schemaLocation="http://localhost:31906/NewWebService/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="staffInformation">
<part name="parameters" element="tns:staffInformation"/>
</message>
<message name="staffInformationResponse">
<part name="parameters" element="tns:staffInformationResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="validateLogin">
<part name="parameters" element="tns:validateLogin"/>
</message>
<message name="validateLoginResponse">
<part name="parameters" element="tns:validateLoginResponse"/>
</message>
<portType name="NewWebService">
<operation name="remove">
<input wsam:Action="http://webservices.web.fraudvalidation.org/NewWebService/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://webservices.web.fraudvalidation.org/NewWebService/countRequest" message="tns:count"/>
<output wsam:Action="http://webservices.web.fraudvalidation.org/NewWebService/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://webservices.web.fraudvalidation.org/NewWebService/findRequest" message="tns:find"/>
<output wsam:Action="http://webservices.web.fraudvalidation.org/NewWebService/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://webservices.web.fraudvalidation.org/NewWebService/create" message="tns:create"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://webservices.web.fraudvalidation.org/NewWebService/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://webservices.web.fraudvalidation.org/NewWebService/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="staffInformation">
<input wsam:Action="http://webservices.web.fraudvalidation.org/NewWebService/staffInformationRequest" message="tns:staffInformation"/>
<output wsam:Action="http://webservices.web.fraudvalidation.org/NewWebService/staffInformationResponse" message="tns:staffInformationResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://webservices.web.fraudvalidation.org/NewWebService/edit" message="tns:edit"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://webservices.web.fraudvalidation.org/NewWebService/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://webservices.web.fraudvalidation.org/NewWebService/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="validateLogin">
<input wsam:Action="http://webservices.web.fraudvalidation.org/NewWebService/validateLoginRequest" message="tns:validateLogin"/>
<output wsam:Action="http://webservices.web.fraudvalidation.org/NewWebService/validateLoginResponse" message="tns:validateLoginResponse"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="staffInformation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:31906/NewWebService/NewWebService"/>
</port>
</service>
</definitions>